<svg class="lotus-mark" viewBox="0 0 64 64" aria-hidden="true" focusable="false">
  <rect class="lotus-yantra" x="8" y="8" width="48" height="48" transform="rotate(45 32 32)"/>
  <circle class="lotus-ring" cx="32" cy="32" r="20"/>
  <path class="lotus-petal" d="M32 14c4 6 6 10 6 18s-2 12-6 18c-4-6-6-10-6-18s2-12 6-18z"/>
  <path class="lotus-petal" d="M32 14c4 6 6 10 6 18s-2 12-6 18c-4-6-6-10-6-18s2-12 6-18z" transform="rotate(45 32 32)"/>
  <path class="lotus-petal" d="M32 14c4 6 6 10 6 18s-2 12-6 18c-4-6-6-10-6-18s2-12 6-18z" transform="rotate(90 32 32)"/>
  <path class="lotus-petal" d="M32 14c4 6 6 10 6 18s-2 12-6 18c-4-6-6-10-6-18s2-12 6-18z" transform="rotate(135 32 32)"/>
  <circle class="lotus-seed" cx="32" cy="32" r="4"/>
</svg>
