<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <img class="sidebar-mark" src="/img/brand/logo-mark.svg" alt="{{ .Site.Title }} crest">
        <h1>{{ .Site.Title }}</h1>
      </a>
      {{ with .Site.Data.brand.tagline }}<p class="sidebar-tagline">{{ . }}</p>{{ end }}
      <p class="lead">{{ .Site.Params.description | markdownify }}</p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>
  </div>
</div>
